table {
    border-collapse: collapse;
}

td {
    margin: 0px;
    border: 0px;
    padding: 0px;

}

#paletteInput {
    margin: 0.25em;
    border: 0.1em solid #AAAAAA;
    padding: 0.25em;
    width: 5em;
    outline: none;
    font-size: 3vw;
    text-align: center;
    color: #AAAAAA;
}

#gridSection {
    margin: 0px;
    border: 0px;
    padding: 5vh 0px;
    height: 70vh;
    background-color: #eeeeee;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}