table {
    border-collapse: collapse;
}

td {
    margin: 0px;
    border: 0px;
    padding: 0px;

}

input {
    margin: 0.25em;
    border: 0.1em solid #AAAAAA;
    padding: 0.25em;
    width: 5em;
    outline: none;
    font-size: 3vw;
    text-align: center;
    color: #AAAAAA;
}

#grid-section {
    margin: 0px;
    border: 0px;
    padding: 5vh 0px;
    height: 70vh;
    background-color: #eeeeee;
}