table {
    border-collapse: collapse;
}

td {
    margin: 0px;
    border: 0px;
    padding: 0px;

}

input {
    border-radius: 1.5em;
    /*border: 0.1em solid #888888;*/
    padding: 0.25em; 
    width: 1.5em;
    height: 1.5em;
    outline: none;
    font-size: 3vw;
    text-align: center;
    color: #666666;
}

#size-input-section {
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 10vh;
}

#grid-section {
    margin: 0px;
    border: 0px;
    padding: 5vh 0px;
    height: 75vh;
    background-color: #eeeeee;
}