table {
  border-collapse: collapse;
}

input {
    border-radius: 1.5em;
    /*border: 0.1em solid #888888;*/
    padding: 0.25em; 
    width: 1.5em;
    height: 1.5em;
    outline: none;
    font-size: 3vw;
    text-align: center;
    color: #666666;
}