table {
  border-collapse: collapse;
}

input {
    border-radius: 1.5em;
    /*border: 0.1em solid #888888;*/
    padding: 0.25em; 
    width: 1.5em;
    height: 1.5em;
    outline: none;
    font-size: 3vw;
    text-align: center;
    color: #666666;
}

button:focus {
    outline: 0;
}

#size-input-section {
    margin: 0px;
    border: 0px;
    padding: 3vh 0px;
    width: 100vw;
    height: 7vh;
}

#grid-section {
    margin: 0px;
    border: 0px;
    padding: 6vh 0px;
    width: 100vw;
    height: 71vh;
    background-color: #dddddd;
}